timezone: HKT
location: '北京'

# 是否展示灯光效果
# 支持 Respeaker 2 Mics
LED:
    enable: true

# snowboy 离线唤醒
# https://snowboy.kitt.ai/dashboard
# 使用相同环境录入你的语音，以提升唤醒成功率和准确率
hotword: 'xiaobu.pmdl'  # 唤醒词模型，如要自定义请放到 /home/pi/FS_AILPA/.xiaobu/ 目录中
sensitivity: 0.45  # 灵敏度
silent_threshold: 30 # 判断为静默时长
recording_timeout: 4 # 录制的语音最大长度（秒）
snowboy_token: cd38a72a3eb2252b109a810f9086ad2265d712ed # 你的token，用于 train 命令训练语音

# 当机器人反问用户时，是否自动进入下一轮聆听
active_mode: false

# 勿扰模式，该时间段内自动进入睡眠，避免监听
do_not_bother:
    enable: false # true: 开启; false: 关闭
    since: 23    # 开始时间
    till: 9      # 结束时间，如果比 since 小表示第二天
    hotword_switch: false  # 是否使用唤醒词开关唤醒模式
    on_hotword: 'xiaobu.pmdl'  # 通过这个唤醒词可切换勿扰模式。默认是“悟空别吵”
    off_hotword: 'xiaobu.pmdl'  # 通过这个唤醒词可切换勿扰模式。默认是“悟空醒醒”

# 是否定期清理temp目录下的缓存音频
lru_cache:
    enable: true # true: 开启; false: 关闭
    days: 7 # 清理超过多少天没有使用的文件

# 语音合成服务配置
# baidu-tts     - 百度语音合成
tts_engine: baidu-tts

# 语音识别服务配置
# baidu-asr     - 百度在线语音识别
asr_engine: baidu-asr

# 百度语音服务
# https://ai.baidu.com/tech/speech/asrpro
baidu_yuyin:
    appid: '20065799'  # 建议使用自己的百度语音账户 APPID
    api_key: 'Gr5CpUHx934ZEiHuLYpLd6Ki'
    secret_key: 'A96OpRIGSIBgIwwzlroXTnhnAKGUhTMP'
    dev_pid: 80001   # 1937: 普通话远场，1536：普通话(支持简单的英文识别)，80001：ASR极速版
    per: 4  # 发音人选择 0：女生；1：男生；3：度逍遥；4：度丫丫
    lan: 'zh'

# 聊天机器人
# emotibot  - 小影机器人
# http://botfactory.emotibot.com/
robot: emotibot
emotibot:
    appid: 'c8c0408d509dc578199c7e1a25c0134c'

## 本地音乐插件
LocalPlayer:
    path: "/home/pi/Music"  # 本地音乐存放路径

#######################
# 传感器插件的配置
#######################
hass:
  url: "http://127.0.0.1"   #切记加上http://，ip或者域名为你的HomeAssistant的主机
  port: "8123"             # 端口为你的HomeAssistant的端口和网页端口一样
  key: "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiI5N2NlZDE1YTMwZmM0ODQ0YTNmY2VjMmJhYWE4MDI5ZiIsImlhdCI6MTU5MDY0ODU4OCwiZXhwIjoxOTA2MDA4NTg4fQ.xKJhnneR25f9FJw7frhr-KmWvGoAWWmSvYCunZFARrI" # 密钥，注意 Bearer 不可少
  patterns:
    - ".*开.*灯"
    - ".*关.*灯"
    - ".*灯.*开"
    - ".*灯.*关"
    - ".*开.*风扇"
    - ".*关.*风扇"
    - ".*风扇.*开"
    - ".*风扇.*关"
    - ".*开.*继电器"
    - ".*继电器.*开"
    - ".*关.*继电器"
    - ".*继电器.*关"
    - ".*开.*蜂鸣器"
    - ".*蜂鸣器.*开"
    - ".*关.*蜂鸣器"
    - ".*蜂鸣器.*关"
    - ".*温度"
    - ".*湿度"
    - ".*光照"
    - ".*光强"
    - .*红外.*
    - .*火焰.*
    - .*光电.*
    - .*可燃气.*
    - .*烟雾.*
    - .*电位器.*
    - .*超声波.*

